<h1 mat-dialog-title>Neues Passwort</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Website" formControlName="website" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="User" formControlName="username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Notizen" formControlName="remarks" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="doAction()"mat-flat-button color="primary">{{action}}</button>
</div>
